.vscode/**
.vscode-test/**
coverage/**
media/*.gif
media/*.svg
node_modules/**
out/**
out-cov/**
src/**
test-resources/**
**/.eslintrc.json
.gitignore
.grenrc.js
*.yml
*.vsix
**/tsconfig.json
**/*.map
**/*.ts
